$body-bg-color: #ffffff;
$hero-first-bg-color: #ffb8ca;
$hero-second-bg-color: #ffa5ba;
$about-bg-color: #fff5f6;
$contacts-bg-color: #fff5f6;
$footer-bg-color: #fff5f6;
$menu-bg-color: #e17992;
$customer-bg-color: #fafafa;
$button-first-bg-color: #d41443;
$button-second-bg-color: #ffffff;
$button-first__hover-bg-color: #c7133e;
$button-second__hover-bg-color: #ecebeb;
$ice-cream-bg-color: #ffb8ca;
$ice-coffee-bg-color: #f0d1a5;
$milkshakes-bg-color: #c2e297;
$cafe-bg-color: #f0d1a5;
$food-truck-bg-color: #c2e297;
$logo-text-color: #d41443;
$button-first-text-color: #ffffff;
$button-second-text-color: #d41443;
$primary-text-color: #ffffff;
$first-text-color: #d41443;
$second-text-color: #ffa5ba;
$black-text-color: #000000;
$gray-text-color: #907e82;
$margin-bottom: 15px;
