<section class="about about__container" id="about">
  <div class="container">
    <p class="about__pre-title">tradition and love</p>
    <h2 class="about__title">how it&#700;s made?</h2>
    <div class="about__content">
      <div class="about__content-wrap">
        <div class="about__content-text">
          <p class="about__text about__text--color">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>
          <p class="about__text about__text--margin">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt.
          </p>
          <p class="about__text">Aliquam erat volutpat. Aenean accumsan.</p>
        </div>
        <button type="button" class="btn btn--about" data-about-open>
          Read more
          <svg width="14" height="10" class="btn__icon">
            <use href="./images/icons.svg#icon-arrow-1"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Модальное окно -->
<div class="backdrop is-hidden" data-about>
  <div class="modal modal--about">
    <button type="button" class="modal-button-close" data-about-close>
      <svg width="28" height="28">
        <use href="./images/icons.svg#icon-menu-close"></use>
      </svg>
    </button>
    <div class="about__content-wrap">
      <p class="about__text about__text--color">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="about__text about__text--margin">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt.
      </p>
      <p class="about__text">Aliquam erat volutpat. Aenean accumsan.</p>
      <p class="about__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, temporibus. Adipisci aut
        debitis architecto sapiente numquam quis non magnam totam dolorum, error molestias nostrum
        id, ipsa nam. Sequi, obcaecati ratione?
      </p>
      <p class="about__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, reprehenderit?
      </p>
    </div>
  </div>
</div>
