<!-- _______________________CONTACTS_______________________ -->
<section class="contacts">
    <div class="container">
        <h2 class="visually-hidden">Our contacts</h2>
        <ul class="contacts__list">
            <li class="contacts__item">
                <p class="contacts__text">CAFE</p>
                <div class="contacts__wrap-where">
                    <h3 class="contacts__item--black">Chicago</h3>
                    <p class="contacts__item--grey">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>                
                <ul class="contacts__list-when">
                    <li>
                        <p class="contacts__item--black">Monday - Friday</p>
                        <p class="contacts__item--pink">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p class="contacts__item--black">Saturday - Sunday</p>
                        <p class="contacts__item--pink">08:00 AM - 16:00 PM</p>
                    </li>                    
                </ul>
                <ul class="contacts__item-contacts">
                    <li class="contacts__mob">
                        <a href="tel:+610383766284" class="contacts__link--grey">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts__mail">
                        <a href="mailto:noreply@envato.com" class="contacts__link--grey">noreply@envato.com</a>
                    </li>
                </ul>  
            </li>
            <li class="contacts__item">
                <p class="contacts__text green">FOODTRUCK</p>
                <div class="contacts__wrap-where">
                    <h3 class="contacts__item--black">Los Angeles</h3>
                    <p class="contacts__item--grey">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>               
                <ul class="contacts__list-when">
                    <li>
                        <p class="contacts__item--black">Monday - Friday</p>
                        <p class="contacts__item--pink">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p class="contacts__item--black">Saturday - Sunday</p>
                        <p class="contacts__item--pink">08:00 AM - 16:00 PM</p>
                    </li>                                
                </ul>
                <ul class="contacts__item-contacts">
                    <li class="contacts__mob">
                        <a href="tel:+610383766284" class="contacts__link--grey">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts__mail">
                        <a href="mailto:noreply@envato.com" class="contacts__link--grey">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts__item">
                <p class="contacts__text">CAFE</p>
                <div class="contacts__wrap-where">
                    <h3 class="contacts__item--black">New York</h3>
                    <p class="contacts__item--grey">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>             
                <ul class="contacts__list-when">
                    <li>
                        <p class="contacts__item--black">Monday - Friday</p>
                        <p class="contacts__item--pink">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p class="contacts__item--black">Saturday - Sunday</p>
                        <p class="contacts__item--pink">08:00 AM - 16:00 PM</p>
                    </li>                            
                </ul>
                <ul class="contacts__item-contacts">
                    <li class="contacts__mob">
                        <a href="tel:+610383766284" class="contacts__link--grey">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts__mail">
                        <a href="mailto:noreply@envato.com" class="contacts__link--grey">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="contacts__button-list">
            <li class="contacts__button-item">
                <button type="button" class="contacts__button btn btn--pink">Our Locations
                </button>
            </li>
            <li class="contacts__button-item">
                <button type="button" class="contacts__button btn">Franchise</button>
            </li> 
        </ul>
    </div>
</section>