<!-- _______________________CONTACTS_______________________ -->
<section class="contacts">
    <div class="container">
        <h2 class="visually-hidden">Our contacts</h2>
        <ul class="contacts__list list">
            <li class="contacts__item">
                <p class="contacts__item-title">CAFE</p>
                <ul class="contacts__item-were list">
                    <li class="contacts__item-black">Chicago</li>
                    <li class="contacts__item-gray">Fusce ut velit laoreet, tempus arcu molestie vulputate</li>
                </ul>
                <ul class="contacts__item-when list">
                    <li class="contacts__item-black">Monday - Friday</li>
                    <li class="contacts__item-pink">06:00 AM - 10:00 PM</li>
                    <li class="contacts__item-black">Saturday - Sunday</li>
                    <li class="contacts__item-pink">08:00 AM - 16:00 PM</li>

                </ul>
                <ul class="contacts__item-contacts list">
                    <li class="contacts__mob">
                        <a href="tel:+610383766284" class="contacts__link contacts__item-gray link">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts__mail">
                        <a href="mailto:noreply@envato.com" class="contacts__link contacts__item-gray link">noreply@envato.com</a>
                    </li>
                </ul>  
            </li>
            <li class="contacts__item">
                <p class="contacts__item-title">CAFE</p>
                <ul class="contacts__item-were list">
                    <li class="contacts__item-black">Chicago</li>
                    <li class="contacts__item-gray">Fusce ut velit laoreet, tempus arcu molestie vulputate</li>
                </ul>
                <ul class="contacts__item-when list">
                    <li class="contacts__item-black">Monday - Friday</li>
                    <li class="contacts__item-pink">06:00 AM - 10:00 PM</li>
                    <li class="contacts__item-black">Saturday - Sunday</li>
                    <li class="contacts__item-pink">08:00 AM - 16:00 PM</li>
            
                </ul>
                <ul class="contacts__item-contacts list">
                    <li class="contacts__mob">
                        <a href="tel:+610383766284" class="contacts__link contacts__item-gray link">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts__mail">
                        <a href="mailto:noreply@envato.com" class="contacts__link contacts__item-gray link">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts__item">
                <p class="contacts__item-title">CAFE</p>
                <ul class="contacts__item-were list">
                    <li class="contacts__item-black">Chicago</li>
                    <li class="contacts__item-gray">Fusce ut velit laoreet, tempus arcu molestie vulputate</li>
                </ul>
                <ul class="contacts__item-when list">
                    <li class="contacts__item-black">Monday - Friday</li>
                    <li class="contacts__item-pink">06:00 AM - 10:00 PM</li>
                    <li class="contacts__item-black">Saturday - Sunday</li>
                    <li class="contacts__item-pink">08:00 AM - 16:00 PM</li>
            
                </ul>
                <ul class="contacts__item-contacts list">
                    <li class="contacts__mob">
                        <a href="tel:+610383766284" class="contacts__link contacts__item-gray link">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts__mail">
                        <a href="mailto:noreply@envato.com" class="contacts__link contacts__item-gray link">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="contacts__modal-list list">
            <li class="contacts__modal-item">
                <button type="button" class="contacts__button btn-red button">Our Locations</button>
            </li>
            <li class="contacts__modal-item">
                <button type="button" class="contacts__button btn-white button">Franchise</button>
            </li>
            
            
        </ul>
        
    </div>
</section>