<!-- _______________________CONTACTS_______________________ -->
<section class="contacts">
    <div class="container">
        <h2 class="visually-hidden">Our contacts</h2>
        <ul class="contacts__list">
            <li class="contacts__item">
                <p class="contacts__item-title">CAFE</p>
                <ul class="contacts__item-where">
                    <li class="contacts__item--black">Chicago</li>
                    <li class="contacts__item--grey">Fusce ut velit laoreet, tempus arcu molestie vulputate</li>
                </ul>
                <ul class="contacts__item-when">
                    <li class="contacts__item--black">Monday - Friday</li>
                    <li class="contacts__item--pink">06:00 AM - 10:00 PM</li>
                    <li class="contacts__item--black">Saturday - Sunday</li>
                    <li class="contacts__item--pink">08:00 AM - 16:00 PM</li>

                </ul>
                <ul class="contacts__item-contacts">
                    <li class="contacts__mob">
                        <a href="tel:+610383766284" class="contacts__link--grey">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts__mail">
                        <a href="mailto:noreply@envato.com" class="contacts__link--grey">noreply@envato.com</a>
                    </li>
                </ul>  
            </li>
        </ul>
        <ul class="contacts__list">
            <li class="contacts__item">
                <p class="contacts__item-title green">FOODTRUCK</p>
                <ul class="contacts__item-where">
                    <li class="contacts__item--black">Los Angeles</li>
                    <li class="contacts__item--grey">Fusce ut velit laoreet, tempus arcu molestie vulputate</li>
                </ul>
                <ul class="contacts__item-when">
                    <li class="contacts__item--black">Monday - Friday</li>
                    <li class="contacts__item--pink">06:00 AM - 10:00 PM</li>
                    <li class="contacts__item--black">Saturday - Sunday</li>
                    <li class="contacts__item--pink">08:00 AM - 16:00 PM</li>
        
                </ul>
                <ul class="contacts__item-contacts">
                    <li class="contacts__mob">
                        <a href="tel:+610383766284" class="contacts__link--grey">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts__mail">
                        <a href="mailto:noreply@envato.com" class="contacts__link--grey">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="contacts__list">
            <li class="contacts__item">
                <p class="contacts__item-title">CAFE</p>
                <ul class="contacts__item-where">
                    <li class="contacts__item--black">New York</li>
                    <li class="contacts__item--grey">Fusce ut velit laoreet, tempus arcu molestie vulputate</li>
                </ul>
                <ul class="contacts__item-when">
                    <li class="contacts__item--black">Monday - Friday</li>
                    <li class="contacts__item--pink">06:00 AM - 10:00 PM</li>
                    <li class="contacts__item--black">Saturday - Sunday</li>
                    <li class="contacts__item--pink">08:00 AM - 16:00 PM</li>

                </ul>
                <ul class="contacts__item-contacts">
                    <li class="contacts__mob">
                        <a href="tel:+610383766284" class="contacts__link--grey">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts__mail">
                        <a href="mailto:noreply@envato.com" class="contacts__link--grey">noreply@envato.com</a>
                    </li>
                </ul>  
            </li>
        </ul>
        <ul class="contacts__button-list">
            <li class="contacts__button-item">
                <button type="button" class="contacts__button btn btn--pink">Our Locations
                </button>
            </li>
            <li class="contacts__button-item">
                <button type="button" class="contacts__button btn">Franchise</button>
            </li> 
        </ul>
    </div>
</section>