<div class="section hero">
    <div class="container">
        <h1 class="title"><span class="title--white">ice cream made with</span>passion</h1>
        <button class="btn btn--pink" type="button">Products</button>
        <button class="btn" type="button">How it’s made?</button>
        <img class="hero-icecream" srcset="./images/hero/hero-icecream-mob-171.png x1, ./images/hero/hero-icecream-mob-342.png x2" src="./images/hero/hero-icecream-mob-171.png"
            alt="IceCream" />
        </picture>
    </div>
</div>