<div class="section hero">
    <div class="container">
        <div class="hero-content">
        <h1 class="title"><span class="title--white">ice cream made with </span>passion</h1>
        <div class="button-wrap">
            <a href="#product" class="btn btn--pink">Products</a>
            <a href="#about" class="btn">How it’s made?</a>
        <!-- <button class="btn btn--pink" type="button">Products</button>
        <button class="btn" type="button">How it’s made?</button> -->
        </div>
        </div>
        <picture>
            <img class="hero-icecream" srcset="./images/hero/hero-icecream-mob-171.png x1, ./images/hero/hero-icecream-mob-342.png
            x2" src="./images/hero/hero-icecream-mob-171.png"
            alt="IceCream" />
        </picture>
        <div class="hero-circle"></div>
    </div>
</div>