.about {
  padding-top: 125px;
  padding-bottom: 39px;
  background-color: var(--secondary-bg-color);
  @media screen and (max-width: 767px) {
    background-image: url(../images/about-milk-mob-left.png),
      url(../images/about-milk-mob-right.png);
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/about-milk-mob-left@2x.png),
        url(../images/about-milk-mob-right@2x.png);
      background-size: 160px 133px;
    }
    background-repeat: no-repeat;
    background-position-y: 740px;
    background-position-x: 0%, 100%;
  }
  @include tablet {
    padding-top: 130px;
    padding-bottom: 66px;
  }
  @include desktop {
    padding-top: 125px;
    padding-bottom: 0px;
    background-image: url(../images/about-milk.png);
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/about-milk@2x.png);
    }
    background-repeat: no-repeat;
    background-size: 100% 534px;
    background-position-y: 350px;
  }
}

.about__container {
  text-align: center;
}

.about__pre-title {
  margin-bottom: 15px;
  font-family: Titan One, sans-serif;
  @include font(18px, 400, 1.17, null);
  text-transform: uppercase;

  color: var(--secondary-pink-color);
  @include tablet {
    margin-bottom: 16px;
    @include font(26px, 400, 1.15, null);
  }
  @include desktop {
    margin-bottom: 15px;
    @include font(30px, 400, 1.13, 0.04em);
  }
}

.about__title {
  margin-bottom: 26px;
  font-family: Titan One, sans-serif;
  @include font(34px, 400, 1.15, 0.04em);
  text-transform: uppercase;

  color: var(--primery-pink-color);
  @media screen and (max-width: 767px) {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  @include tablet {
    margin-bottom: 100px;
    @include font(48px, 400, 1.15, null);
  }
  @include desktop {
    margin-bottom: 106px;
    @include font(58px, 400, 1.14, 0.06em);
  }
}

.about__content {
  margin-left: auto;
  margin-right: auto;
  text-align: start;
  &::before {
    content: '';
    display: block;
    height: 279px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/about-mob.png);
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/about-mob@2x.png);
    }
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    @media screen and (max-width: 767px) {
      max-width: 280px;
    }
    @include tablet {
      width: 340px;
      height: 339px;
      margin-top: -50px;
      margin-left: 0;
      margin-right: 17px;
      background-image: url(../images/about-tab.png);
      @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/about-tab@2x.png);
      }
    }
    @include desktop {
      width: 516px;
      height: 516px;
      margin-top: -51px;
      margin-right: 74px;
      background-image: url(../images/about.png);
      @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/about@2x.png);
      }
    }
  }
  @include tablet {
    display: flex;
  }
}

.about__text {
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
  @include font(12px, 500, 1.62, null);

  color: var(--main-text-color);
  &:not(:nth-child(2)) {
    margin-bottom: 47px;
    @include tablet {
      margin-bottom: 62px;
    }
    @include desktop {
      margin-bottom: 35px;
    }
  }
  @include tablet {
    max-width: 340px;
    @include font(14px, 500, 1.76, null);
  }
  @include desktop {
    max-width: 463px;
    @include font(16px, 500, 1.76, 0.04em);
    &:not(:first-child) {
      @include font(14px, 500, 1.94, 0.04em);
    }
  }
}

.about__text--color {
  color: var(--main-black);
}

.about__text--margin {
  margin-bottom: 20px;
}

.btn--about {
  @include font(14px, 700, 1.29, null);
  font-size: 14px;
  cursor: pointer;
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.btn__icon {
  margin-left: 14px;
  stroke: var(--primery-pink-color);
}
