.modal.order-modal {
    padding: 20px 20px;
    padding-top: 15px;
    width: 300px;
    height: 500px;
    background-color: var(--main-white);

    @include tablet {
        width:450px;
        height: 650px;
    }

    .order-form__header{
        display: block;
        font-size: 14px;
        font-weight: 500;
        color: var(--primery-pink-color);
        line-height: 1.1;
        text-align: center;
        margin-bottom: 10px;
    
        @include tablet {
            @include font (20px, 700, 1.2, null)
        }

        
    }

    

    .btn {
        min-width: 140px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        
       
        stroke: var(--main-white);
        .menu-arrow-icon{
            margin-left: 40px;
        }
    }
    .order-icecream{
        border: none;
        height: 120px;
        width: 120px;
        margin-bottom: 0;
        @include tablet{
            height: 140px;
            width: 140px;
        }
    
       
    }
}
.order-list__item{
    @include font(11px, 500, 0.91, null);
    @include tablet {
    @include font(14px, 500, 0.91, null);
    }
    display: flex;
    border-top: 1px solid rgba(225, 130, 152, 0.2);
    border-bottom: 1px solid rgba(225, 130, 152, 0.2);
    align-items: center;
    padding-bottom: 5px;
    .item-description{
        width: 100%;
        
    }
    .item-price {
        text-align: end;
        margin-top: 5px;
        margin-bottom: 5px;
        @include tablet {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
    .order-quntity-wrap{
        display: flex;
        align-items: center;

    }
    .order__input{
        margin-left: 10px;
        width: 100%;
        border-radius: 10px;
        border-color: var(--secondary-pink-color);
        text-align: center;
    }

}
