.products {
  padding-top: 121px;
  padding-bottom: 98px;
  @include tablet {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @include desktop {
    padding-top: 127px;
    padding-bottom: 119px;
  }
  .container {
    text-align: center;
  }
  &__text {
    font-family: 'Titan One';
    text-transform: uppercase;
    @include font(18px, null, 1.16, 0.04em);
    color: var(--secondary-pink-color);
    margin-bottom: 15px;
    @include tablet {
      @include font(26px, null, 1.15, null);
    }
    @include desktop {
      @include font(30px, null, 1.13, null);
    }
  }

  &__title {
    text-transform: uppercase;
    font-family: 'Titan One';
    @include font(34px, 400, 1.14, 0.04em);
    color: var(--primery-pink-color);
    margin-bottom: 144px;
    @include tablet {
      margin-bottom: 150px;
      @include font(48px, null, 1.15, null);
    }
    @include desktop {
      margin-bottom: 259px;
      @include font(58px, null, 1.14, 0.06em);
    }
  }
  &-list {
    margin-bottom: -30px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    @include tablet {
      display: flex;
      margin-bottom: 0;
      margin-right: -20px;
    }
    @include desktop {
      margin-right: -29px;
    }
  }

  &-list__item {
    position: relative;
    width: 280px;
    height: 485px;
    border-radius: 24px;
    margin-bottom: 130px;
    padding: 161px 40px 41px 40px;
    @include tablet {
      width: 220px;
      padding: 152px 11px 40px 11px;
      margin-bottom: 0;
      width: calc(100% / 3 - 20px);
      margin-right: 20px;
    }

    @include desktop {
      width: 329px;
      height: 525px;
      padding: 163px 44px 50px 44px;
      width: calc(100% / 3 - 29px);
      margin-right: 29px;
    }

    &.cream {
      background-color: var(--hero-bg-color);
    }
    &.coffee {
      background-color: var(--coffee-color);
    }
    &.milkshakes {
      background-color: var(--green-color);
      margin-bottom: 0;
    }
  }
  &-list__title {
    text-transform: uppercase;
    font-family: 'Titan One';
    @include font(20px, 400, 1.15, 0.04em);
    color: var(--main-white);
    .cream &::before {
      content: url(../images/ice_cream-mob-1x.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .cream &::before {
          content: url(../images/ice_cream-mob-2x.png);
        }
      }
    }
    .coffee &::before {
      content: url(../images/ice_coffee-mob-1x.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .coffee &::before {
          content: url(../images/ice_coffee-mob-2x.png);
        }
      }
    }

    .milkshakes &::before {
      content: url(../images/milkshakes-mob-1x.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .milkshakes &::before {
          content: url(../images/milkshakes-mob-2x.png);
        }
      }
    }
    @include tablet {
      .cream &::before {
        content: url(../images/ice_cream-tab-1x.png);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          .cream &::before {
            content: url(../images/ice_cream-tab-2x.png);
          }
        }
      }
      .coffee &::before {
        content: url(../images/ice_coffee-tab-1x.png);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          .coffee &::before {
            content: url(../images/ice_coffee-tab-2x.png);
          }
        }
      }

      .milkshakes &::before {
        content: url(../images/milkshakes-tab-1x.png);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          .milkshakes &::before {
            content: url(../images/milkshakes-tab-2x.png);
          }
        }
      }
    }
    @include desktop {
      @include font(30px, 400, 1.13, 0.04em);
      .cream &::before {
        content: url(../images/ice_cream-1x.png);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          .cream &::before {
            content: url(../images/ice_cream-2x.png);
          }
        }
      }
      .coffee &::before {
        content: url(../images/ice_coffee-1x.png);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          .coffee &::before {
            content: url(../images/ice_coffee-2x.png);
          }
        }
      }

      .milkshakes &::before {
        content: url(../images/milkshakes-1x.png);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          .milkshakes &::before {
            content: url(../images/milkshakes-2x.png);
          }
        }
      }
    }

    .cream &::before,
    .coffee &::before,
    .milkshakes &::before {
      position: absolute;
      left: 16px;
      bottom: 346px;
      animation: flipInY;
      animation-duration: 3s;
      @include tablet {
        left: 0;
        bottom: 363px;
      }
      @include desktop {
        bottom: 400px;
      }
    }

    .cream &::after,
    .coffee &::after,
    .milkshakes &::after {
      position: absolute;
      content: '...';
      left: 127px;
      bottom: 260px;
      font-size: 25px;
      @include tablet {
        left: 97px;
        bottom: 274px;
        font-size: 27px;
      }
      @include desktop {
        left: 151px;
        bottom: 290px;
      }
    }
  }
  &-list__text {
    @include font(14px, 700, 1.5, 0.04em);
    color: var(--main-white);
    margin-top: 66px;
    transition-duration: 300ms;
    @include tablet {
      display: none;
    }
    &-tab {
      display: none;
      @include tablet {
        @include font(null, null, 1.76, null);
        color: var(--main-white);
        margin-top: 66px;
        display: block;
        transform: rotateX(0);
        transition-duration: 300ms;
      }
      @include desktop {
        margin-top: 70px;
        @include font(16px, null, null, null);
      }
    }
  }
}

.products-list__checkbox-icon {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  margin-top: 30px;
  transform: rotateY(0);
  transition-duration: 300ms;
  cursor: pointer;
  @include tablet {
    margin-top: 40px;
  }
  @include desktop {
    margin-top: 62px;
  }
}

.produckts-list__input {
  position: absolute;
  display: none;
}

.produckts-list__input:checked + .products-list__text {
  background-color: transparent;
  transform: rotateX(360deg) scale(1.3);
  transition-duration: 300ms;
}

.produckts-list__input:checked ~ .products-list__text-tab {
  background-color: transparent;
  transform: rotateX(360deg) scale(1.3);
  transition-duration: 350ms;
}

.produckts-list__input:checked ~ .products-list__checkbox-icon {
  background-color: #ecebeb;
  transform: rotateY(360deg) scale(1.3);
  transition-duration: 300ms;
}

.products-list__checkbox-icon:hover,
.products-list__checkbox-icon:focus {
  background-color: #ecebeb;
}
